@charset "UTF-8";

body{
	width: 80%;
	margin: auto;
}

.title{
	transform : rotate(-30deg);
	position : absolute;
	font-size : 150%;
	color: #008B8B;
}

.new{
	float : right;
	display : block;
	background-color: #50b3dc;
	padding: 10px 40px;
	color: #fff;
}

a{
	color: #fff;
	text-decoration : none;
}

.new:hover{
	cursor : pointer;
}
.flex-container{
    clear:both;
    display:flex;
    justify-content: flex-end;
}

#TODO{
	margin-left: 50px;
}

.list{
	width: 350px;
}

.list > p:first-child{
	font-size : 150%;
    text-align: left;
    background-color: #008080;
    color: #fff;
}

.list > p:nth-child(n+2){
    text-align: left;
    background-color: #B0E0E6;
    color: #000;
    padding : 30px 20px;
}

.list > p{
	font-size : 85%;
    background-color:rgb(182, 211, 235);
    color:rgb(29, 178, 236);
    margin:5px 2.5px;
    padding: 20px;
} 

.item-title{
	color: black;
	font-weight: bold;
	padding-bottom : 5px;
	font-size : 120%;
}

.button{
	display: inline-block;
	flaot: right;
	box-sizing : border-box;
	border : 1px solid rgba(255, 255, 255, 0.726);
	background-color: seashell;
	padding: 1px 3px;
}

.button:hover{
	border : 1px soild rgba(255, 255, 255, 0.322);
	cursor: pointer;
}

